<div class="auth-container">
  <div class="auth-card">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="name" formControlName="name" placeholder="Name">
        <input type="email" formControlName="email" placeholder="Email">
        <input type="password" formControlName="password" placeholder="Password">
        <button type="submit" [disabled]="registerForm.invalid">Create account</button>
    </form>
    <p>Have registered account? <a routerLink="/login">Login</a></p>
  </div>
</div>