.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 110px 20px 40px 20px;
}

.profile-card,
.guest-card {
    background: #1a1a1a;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
    padding: 40px 40px;
    border-radius: 20px;
    border: 1px solid #333;
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}

/* .user-avatar img {
    width: 80px;
    height: 80px;
    filter: brightness(0) invert(1);
    background: #242424;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
} */
.user-info {
    margin: 60px 0;
}

.profile-card h1 {
    margin: 0 0 22px 0;
    font-weight: 700;
}

.profile-card span {
    color: #f10020;
}

.label {
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

.value {
    margin: 0 0 28px 0;
    font-size: 16px;
    color: #eee;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-btn {
    background: #242424;
    color: white;
    border: 1px solid #444;
}

.settings-btn:hover {
    background: #333;
    border-color: #666;
    box-shadow: 0 0 15px #666;
}

.orders-btn {
    background: #f10020;
    color: white;
    border: none;
}

.orders-btn:hover {
    background: #d4001c;
}

.logout-btn {
    background: transparent;
    color: #f10020;
    border: 1px solid #f10020;
}

.logout-btn:hover {
    background: #f10020;
    color: white;
}

.guest-card {
    color: #888;
}

.login-link {
    margin-top: 10px;
}

.buttons-flex {
    display: flex;
    gap: 10px;
}